module.exports.options = {
    token: '',
    apiKey: '',
    topicChannels: [
      'kryptovaluutat'
    ],
    api: 'https://min-api.cryptocompare.com/data/pricemultifull',
    pairs: [
      'BTC',
      'ETH',
      'LTC',
      'XRP',
      'DASH',
    ],
    exchange: 'Kraken',
    currency: 'EUR',
    pollRate: 60,
};
